<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>All Reviews</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div class="container">
		<div class="col-sm-6 col-md-4">
			<p th:each="review: ${review-view}"></p>

			<h2 th:text="${review.title}"></h2>
			<img th:src="${review.image_url}" style="height:250px;" />

			<!-- <p th:text="${review.content}"></p> -->
			<a th:href="@{/review(id=${review.id})}">View More Details</a>
		</div>
	</div>
	
	<script src="js/jquery.js"></script>

</body>

</html>
