<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<h1>Review</h1>
	<div class="container">
		<div class="col-sm-6 col-md-4">
			<ul>
				<li th:text=" ${review.id}"></li>
				<li th:text="${review.title}"> </li>
				<li th:text="${review.category}"> </li>
				<li th:text="content: ${review.content}"></li>
				<img th:src="${review.image_url}" style="height:250px;" />
				<!-- <p th:text="date: ${review.date}"></p> -->
		</div>
	</div>
	<script src="js/jquery.js"></script>

</body>

</html>
